.footer {
  display: flex;
  
  justify-content: center;
  font-family: sans-serif;

  nav {
    display: flex;
    
    justify-content: center;
    font-size: 10px;

    ul{
        margin: 20px;


        li img{
            width: 8px;
            height: 8px;
            padding-right: 3px;
            object-fit: cover;
        }
    }
  }
}

